/* common */
#top {
  color: #485254;
}
#top > section {
  padding: 60px 0;
}
#top .btn_line {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}
#top .btn_line .btn {
  padding: 15px 0;
  width: 216px;
  text-align: center;
  border: solid 1px #a39883;
  border-radius: 50px;
  font-weight: bold;
}
#top #news #news_container .btn_line .btn {
  background: #c9e4e9;
}
#top #introduction #introduction_container .btn_line .btn {
  background: white;
}

/* top_image */
#top #top_image {
  background: #c9e4e9;
  padding: 0;
}

/* news */
#top #news {
  display: flex;
  justify-content: center;
}
#top #news #news_container {
  width: 900px;
}
#top #news #news_container .head_line {
  text-align: center;
  margin-bottom: 36px;
  font-weight: bold;
  font-size: 24px;
}
#top #news #news_container .contents > a {
  display: block;
}
#top #news #news_container .contents > a + a {
  margin-top: 12px;
}
#top #news #news_container .contents .content {
  display: flex;
  justify-content: space-between;
}
#top #news #news_container .contents .content .days {
  width: 30%;
  border: 3px #c9e4e9 solid;
  padding: 5px 0 5px 10px;
  display: flex;
}
#top #news #news_container .contents .content .days .year {
  writing-mode: vertical-lr;
  border-right: 2px #c9e4e9 solid;
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding-right: 6px;
  margin-right: 30px;
}
#top #news #news_container .contents .content .days .day_month {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#top #news #news_container .contents .content .days .day_month .day {
  display: flex;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
}
#top #news #news_container .contents .content .days .day_month .month {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#top #news #news_container .contents .content .days .information {
  font-size: 10px;
  font-weight: bold;
  color: #79d1e2;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
#top #news #news_container .contents .content .sentence {
  width: 69.5%;
  border: 3px #c9e4e9 solid;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

/* introduction */
#top #introduction {
  background: #c9e4e9;
  display: flex;
  justify-content: center;
}
#top #introduction #introduction_container {
  width: 1100px;
}
#top #introduction #introduction_container .head_line {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}
#top #introduction #introduction_container .product {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
#top #introduction #introduction_container .product .products {
  background: white;
  width: 31%;
  padding: 26px 0;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top #introduction #introduction_container .product .products + .products {
  margin-left: 40px;
}
#top #introduction #introduction_container .product .products .img_area {
  width: 46%;
  margin-bottom: 16px;
}
#top #introduction #introduction_container .product .products .head {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: bold;
}
#top #introduction #introduction_container .product .products .sentence {
  width: 79%;
  font-size: 12px;
  line-height: 25px;
}
#top #introduction #introduction_container .next_pointer_line {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
#top #introduction #introduction_container .next_pointer_line .next_pointer {
  font-size: 12px;
  color: white;
  letter-spacing: 6px;
}

/* supplement */
#top #supplement {
  display: flex;
  justify-content: center;
}
#top #supplement #supplement_container {
  width: 850px;
}
#top #supplement #supplement_container .head_line {
  text-align: center;
  margin-bottom: 56px;
  font-weight: bold;
  font-size: 24px;
}
#top #supplement #supplement_container .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#top #supplement #supplement_container .items .item {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
}
#top #supplement #supplement_container .items .item + .item {
  margin-left: 20px;
}
#top #supplement #supplement_container .items .item:nth-child(1) {
  border: 4px solid #c9e4e9;
}
#top #supplement #supplement_container .items .item:nth-child(2) {
  border: 4px solid #c9e9d3;
}
#top #supplement #supplement_container .items .item:nth-child(3) {
  border: 4px solid #e7e9c9;
}

@media (max-width: 1050px) {
  #top #news #news_container {
    width: 88%;
  }
  #top #news #news_container .contents .content .days .day_month {
    margin-right: 30px;
  }
  #top #introduction #introduction_container {
    width: 90%;
  }
  #top #introduction #introduction_container .product {
    margin-bottom: 20px;
  }
  #top #introduction #introduction_container .product .products .head {
    font-size: 13px;
  }
  #top #introduction #introduction_container .product .products .sentence {
    font-size: 11px;
  }
  #top #introduction #introduction_container .next_pointer_line {
    margin-bottom: 35px;
  }
  #top #supplement #supplement_container {
    width: 80%;
  }
}

@media (max-width: 800px) {
  #top #news #news_container .head_line {
    font-size: 24px;
  }
  #top #news #news_container .contents > a {
    display: block;
  }
  #top #news #news_container .contents > a + a {
    margin-top: 40px;
  }
  #top #news #news_container .contents .content {
    flex-direction: column;
  }
  #top #news #news_container .contents .content:nth-child(2) {
    display: none;
  }
  #top #news #news_container .contents .content .days {
    width: 100%;
    border: none;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 20px;
  }
  #top #news #news_container .contents .content .days .year {
    margin-right: 26px;
    padding-right: 14px;
    font-size: 14px;
  }
  #top #news #news_container .contents .content .days .day_month {
    padding-right: 0;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #top #news #news_container .contents .content .days .day_month .day {
    font-size: 15px;
  }
  #top #news #news_container .contents .content .days .day_month .month {
    font-size: 16px;
  }
  #top #news #news_container .contents .content .days .information {
    font-size: 15px;
  }
  #top #news #news_container .contents .content .sentence {
    width: 100%;
    border: none;
    padding: 0;
    font-size: 15px;
  }
  #top #introduction #introduction_container .product {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  #top #introduction #introduction_container .product .products {
    width: 90%;
    padding: 50px 0;
  }
  #top #introduction #introduction_container .product .products + .products {
    margin-left: 0;
    margin-top: 40px;
  }
  #top #introduction #introduction_container .product .products .head {
    font-size: 14px;
  }
  #top #introduction #introduction_container .product .products .sentence {
    font-size: 13px;
  }
  #top #introduction #introduction_container .next_pointer_line {
    display: none;
  }
  #top #supplement #supplement_container {
    width: 80%;
  }
  #top #supplement #supplement_container .head_line {
    font-size: 20px;
  }
  #top #supplement #supplement_container .items {
    flex-direction: column;
  }
  #top #supplement #supplement_container .items .item + .item {
    margin-top: 20px;
    margin-left: 0;
  }
}
